* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #802d8b;
  font-family: "Lato", sans-serif;
}

h1 {
  color: #fff;

  width: fit-content;

  margin: 0 auto;
  margin-top: 2rem;
}

.container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 120rem;

  margin: 0 auto;
  padding: 2rem;
}

.column {
  flex: 1;

  background-color: #380e39;

  padding: 2rem;
  margin: 0 1rem;
  border-radius: 5px;
}

h2 {
  color: #fff;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.task {
  font-size: 1.6rem;
  font-weight: 700;
  width: 100%;

  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;

  position: relative;

  margin-bottom: 0.5rem;
  padding: 1rem 0;
  padding-left: 1.5rem;

  overflow-wrap: anywhere;

  cursor: move;
}

.task-content {
  position: relative;
}

.task-actions {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.task-edit,
.task-delete {
  color: #fff;
  font-weight: bold;

  margin-left: 1rem;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 5px;

  transition: background-color 0.3s ease;
  cursor: pointer;
}

.task-edit {
  background-color: #812d8f;
}

.task-edit:hover {
  background-color: #b024c9;
}

.task-delete {
  background-color: #370e38;
}
.task-delete:hover {
  background-color: #660d68;
}

.drop-area {
  height: 1rem;
  transition: background 0.3s ease, height 0.3s ease;
}

.drop-area-active {
  height: 2rem;

  background-color: rgba(255, 255, 255, 0.5);

  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.add-task {
  color: #fff;
  background-color: #84308f;

  font-size: 1.6rem;

  width: 100%;
  display: block;

  padding: 1rem;
  margin-bottom: 1rem;

  border: none;
  border-radius: 0.5rem;

  transition: background-color 0.3s ease;
  cursor: pointer;
}

.add-task:hover {
  background-color: #601162;
}

@media (max-width: 47.94em) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .column {
    margin: 1rem 0;
  }
}
